
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" href="~/css/Home.css" />
}

<h2>Forklift Project</h2>
<p>Complete the daily checklist below</p>
<hr />

<div class="container">
    <img src="/images/iStock-874515344-1024x683.jpg" alt="Avatar" class="image" style="width:100%">
    <div class="middle">
        <a href="~/Checklists/Create" class="link_button">Create Checklist</a>
    </div>
</div>
